{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Welcome to sf4 Tour!</h1>
            <p class="lead">Learn it!</p>
            <hr class="my-4">
            <p>Only pratical samples code</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Sample lists</h2>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, 49€
                        <small>Pas de notes encore</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="test" style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">Test</h4>
                        <p class="card-text">
                            Lorem Ups!!!
                        </p>
                        <a href="#" class="btn btn-warning">En savoir plus...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, 49€
                        <small>Pas de notes encore</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="test" style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">Test</h4>
                        <p class="card-text">
                            Lorem Ups!!!
                        </p>
                        <a href="#" class="btn btn-warning">En savoir plus...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, 49€
                        <small>Pas de notes encore</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="test" style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">Test</h4>
                        <p class="card-text">
                            Lorem Ups!!!
                        </p>
                        <a href="#" class="btn btn-warning">En savoir plus...</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mt-3 mb-4">Sample lists2</h2>

        <div class="row mt-4">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Coucou Star</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar" class="float-left mr-3">
                            <p>
                                Texte ici
                            </p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Coucou Star</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar" class="float-left mr-3">
                            <p>
                                Texte ici
                            </p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Coucou Star</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar" class="float-left mr-3">
                            <p>
                                Texte ici
                            </p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}